<div *ngIf="!result">
    <div *ngIf="!isMobile; else elseBlock">
        <nav class="navbar navbar-expand-lg bg-body-tertiary mt-5">
            <div class="container-fluid ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="ms-auto">
                        <form class="d-flex ms-auto" role="search">
                            <button *ngIf="displayTimer" type="button" class="btn btn-warning">{{displayTimer}}</button>

                            <button *ngIf="!displayTimer" type="button" class="btn btn-outline-success me-5"
                                (click)="openModal(template)">Start
                                Quiz
                            </button>
                            <ng-template #template>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">Start Quiz</h4>
                                    <button type="button" class="btn-close close pull-right" aria-label="Close"
                                        (click)="modalRef?.hide()">
                                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you want to confirm start quiz?</p>
                                    <button type="button" class="btn btn-outline-success me-3"
                                        (click)="confirm()">Yes</button>
                                    <button type="button" class="btn btn-outline-danger"
                                        (click)="modalRef?.hide()">No</button>
                                </div>
                            </ng-template>
                        </form>

                    </div>
                </div>
            </div>
        </nav>
        <div *ngIf="!(displayTimer)" class="alert alert-success m-5" role="alert">
            <ul>
                <li>Negative marking is not there.</li>
                <li>Questions are Multi-Select and Single-Select Both</li>
                <li>All the questions are not compulsary</li>
                <li>Question should be visible for 30 sec</li>
                <li>You can not go back to previous question</li>
                <li>Best of Luck !!!</li>
            </ul>
        </div>
        <div>
            <div class="card mb-3 m-5" *ngIf="timer">
                <div class="card-body">
                    <div class="position-absolute top-0 end-0 m-2">
                        <nav class=" " aria-label="question-no">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" [ngClass]="{ 'active': question.no == '1' }">
                                    <a class="page-link">
                                        {{question.no == 1? 1:question.no ==
                                        questions.length?question.no-2:question.no-1}}
                                    </a>
                                </li>
                                <li class="page-item"
                                    [ngClass]="{ 'active': !(question.no == '1') && !(question.no == questions.length) }">
                                    <a class="page-link">
                                        {{question.no == 1? 2:question.no == questions.length?question.no-1
                                        :question.no}}
                                    </a>
                                </li>
                                <li class="page-item" [ngClass]="{ 'active': (question.no == questions.length) }">
                                    <a class="page-link">
                                        {{question.no == 1? question.no+2:question.no ==
                                        questions.length?question.no:question.no+1}}
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <form class="mt-3" *ngIf="question">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"></label>
                            <div class="alert alert-primary" role="alert">
                                Q{{question.no}}.{{question.name}}<br>
                                <img class="m-2" [src]="question.imageUrl">
                            </div>
                        </div>
                        <div [ngSwitch]="question.type">
                            <div *ngSwitchCase="'checkbox'">
                                <form>
                                    <div class="mb-3 form-check" *ngFor="let option of question.options; let i = index">
                                        {{option.key +') '}}<input [(ngModel)]="option.value" [name]="option.key"
                                            [type]="question.type" [id]="option.key" class="form-checkbox-input me-2"
                                            [value]="option.value" (change)="updateSelectedValues(option.key)">
                                        <label [for]="option.key" class="form-check-label">{{option.value}}</label>
                                    </div>
                                </form>
                            </div>
                            <div *ngSwitchCase="'radio'">
                                <form>
                                    <div class="mb-3 form-check" *ngFor="let option of question.options; let i = index">
                                        {{option.key +') '}}<input (change)="updateradioValues(option.key)" class="me-2"
                                            type="radio" [id]="option.key" name="radioValue" [value]="option.value">
                                        <label [for]="option.key">{{option.value}}</label><br>
                                    </div>
                                </form>
                            </div>
                            <div *ngSwitchCase="'text'"><textarea (change)="updateTextValue($event)" rows="4"
                                    cols="50"></textarea>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <button *ngIf="!isLastQuestion" type="button" class="btn btn-outline-success me-5"
                            (click)="nextQuestion(question.no)">Next</button>
                        <button *ngIf="isLastQuestion" (click)="submitTest()" type="button"
                            class="btn btn-outline-success me-5">Submit
                            Quiz</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <ng-template #elseBlock>
        <div class=" alert alert-danger mt-5" role="alert">
            Please Open Desktop/Laptop Site!
        </div>
    </ng-template>
</div>

<div *ngIf="result" class="container text-center">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="m-5">
                <div class="m-5">
                    <div class="m-5">
                        <div [ngClass]="{
                            'alert-danger': result <70,
                            'alert-success': result >=70
                          }" class="card alert " role="alert" style="width: 28rem;">
                            <div class="card-body">
                                <h5 class="card-title">Your Online Quiz Result</h5>
                                <h6 class="card-subtitle mb-2 m-2 text-body-secondary">{{wishMessage}}</h6>
                                <p class="card-text">{{result +'%'}}</p>
                                <a href="home" class="card-link">Go to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>