<app-header></app-header>
<div class="details">
    <div class="container">
        <div class="row me-5">
            <div class="col-sm-6">
                <div class="position-absolute bottom-50 end-40" style="width: 28rem;">
                    <div class="card-body m-5">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-outline-success me-4">Sign Up</a>
                        <a (click)="getDemo()" class="btn btn-outline-success">Get Demo</a>

                    </div>
                </div>

            </div>
            <div class="col-sm-6 mt-5 mb-5">
                <img src="assets//dashboard2.jpg" height="500px" width="600px">
            </div>
        </div>
    </div>

</div>